* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

html, body {
  height: 100%; /*Fixes the height to 100% of the viewport*/
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    overflow-x: hidden;
}


.menu{
    display: inline-block;
}

.menu li{
    display: inline-block;
}

.menu li a{
    text-decoration: none;
}

.menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover{
    background-color: rgba(203,197, 197, 0.19);
}

.logo{
    
}


.navigation-bar {
    z-index: 10;
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: #382a2a; /* change to desired color */
    position: fixed;
    overflow: hidden;
    text-align: center;

}

.navigation-bar a {
    display: inline-block;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}


.navigation-bar li {
   display: inline-block;
   padding: 5px 5px;
}




.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

.gray-bg{
    background-color:#ebebeb;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

@media only screen and (max-width: 767px) and (min-width: 480px)
.container-fluid menu {
    width: 450px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.row-centered {
    text-align:center;
}

.des{
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

.description{
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    display: inline-block;
}

.description h1 {
    text-align: center;
    align-content: center;
    vertical-align: middle;
    font-weight: 350;
    font-size: 5.5rem;
    margin: 3rem 0 0.5rem 0;
  }

.description h2 {
    font: Helvetica Neue;
    font-size: 2.0rem;
    margin: 1rem 0;
    margin-left: 4px;
  }

.about-me{
    padding-top: 50px;
    padding-bottom: 50px;
    align-content: center;
    vertical-align: middle;
}

.heading{
    vertical-align: middle;
    display: inline-block;
}

.heading h1{
    font-weight: 350;
    font-size: 5rem;
    padding-top: 10px;
}

.one{
    padding-top: 40px;
    margin-right: auto;
    margin-left:auto;
    vertical-align: middle;
    display: inline-block;
}

.two{
    background-position:center;
    align-items: center;
    justify-content: flex-start;
    display: block;
    background-image: url(https://static1.squarespace.com/static/59eed023f9a61e4bf5c8ac7c/t/59f2ab20e4966bac11612803/1509076022394/UCSD-logo.png?format=500w);
    background-size:contain;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 270px;
    margin: auto;
}

.three{
    background-position:center;
    justify-content: flex-start;
    display: block;
    background-image: url(https://img2.embroiderydesigns.com/StockDesign/XLarge/Mead_Artworks/pa1012a.jpg);
    background-size:contain;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    max-width: 100%;  
    height: 250px;
    margin: auto;
}

.text {
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1.5;
    font-size: 20px;
}

@media only screen and (max-width: 767px) and (min-width: 480px)
.container {
    width: 450px;
}

@media only screen and (max-width: 767px) and (min-width: 480px){
    ul li{ 
        width:active;
    }
}

@media only screen and (max-width: 767px) {
    .navigation-bar li{ 
        font-size: .75rem;
    }
}

.experience{
    text-align: center;
    align-content: center;
}

.title{
    padding-top: 50px;
    text-align: center;
}

.title h1{
    font-weight: 350;
    font-size: 5rem;
        padding-top: 10px;

}


.experience-logo{
    margin-top: 45px;
    margin-bottom: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}
    
.experience-logo.FBI{
    background-position:center;
    align-items: center;
    justify-content: flex-start;
    display: block;
    background-image: url(https://img2.embroiderydesigns.com/StockDesign/XLarge/Mead_Artworks/pa1012a.jpg);
    background-color: #ebebeb;
    background-size:contain;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 250px;
}

.description-F{
    padding-right: 10px;
    vertical-align: middle;
    text-align: center;
    max-width: 100%;
}

.F{
    padding-top: 100px;
    line-height: 1.5;
    font-size: 20px;
}

.experience-logo.GILD{
    background-position:center;
    justify-content: flex-start;
    display: block;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIr0O_zeq6mrga2b4LP6W3E-nm2w88uuZnMuVVVOBEuE2d5uu2);
    background-color: #ebebeb;
    background-size:contain;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    max-width: 100%;  
    height: 250px;
    margin: auto;
}

.description-G{
    padding-right: 10px;
    padding-bottom: 50px;
    padding-top: 75px;
    vertical-align: middle;
    text-align: center;
    max-width: 100%;
    margin-bottom: 25px;
}

.G{
     line-height: 1.5;
    font-size: 20px;
}


.skills{
    padding-top: 60px;
    padding-bottom: 50px;
    align-content: center;
    vertical-align: middle;
}

.skills h1{
    font-weight: 350;
    font-size: 5rem;
    
}

.s1 h1{
    border-bottom: 2px solid;
    font-size: 30px;
    font-weight: 350;
    align-content: center;
    vertical-align: middle;
    
}

.s1{
    margin-left: auto;
    text-align: center;
    padding-top: 40px;
    list-style: none;
}

.s1 ul{
        padding-top: 40px;
        font-weight: 300;
        font-size: 30px;
        line-height: 3.0;
        list-style: none;

}

.s2{
    padding-top: 40px;
    text-align: center;
    list-style: none;
}

.s2 ul{
        padding-top: 40px;
        font-weight: 300;
        font-size: 30px;
        line-height: 3.0;
        list-style: none;

}

.s2 h1{
    letter-spacing: 1px;
    border-bottom: 2px solid;
    font-weight: 350;
    font-size: 30px;
    align-content: center;
    vertical-align: middle;
}

.s3{
    padding-top: 40px;
    margin-right: auto;
    text-align: center;
    list-style: none;
}

.s3 ul{
        padding-top: 40px;
        font-weight: 300;
        font-size: 30px;
        line-height: 3.0;
        list-style: none;
}

.s3 h1{
    letter-spacing: 1px;
    border-bottom: 2px solid;
    font-weight: 350;
    font-size: 30px;
    align-content: center;
    vertical-align: middle;
}

.projects{
    text-align: center;
}

.projects h1{
    font-weight: 350;
    font-size: 5rem;
}

.p1{
        float: none;
        margin: 0 auto;        
        background-position:center;
        align-items: center;
        justify-content: center;
        display: block;
        padding-top: 50px;

}


.d1{
        float: none;
        margin: 0 auto;        
        justify-content: center;
        display: block;
}

.letsd{
    padding-top: 20px;
    line-height: 1.5;
    font-size: 20px;
    padding-bottom: 40px;
}

.publications{
    text-align: center;
}

.publications h1{
    font-weight: 350;
    font-size: 5rem;
}

.pub1{
        float: none;
        margin: 0 auto;        
        background-position:center;
        align-items: center;
        justify-content: center;
        display: block;
}

.pub1 img{
    border-radius: 10px;
    transition-property: background, border-radius;
    transition-duration: 1s, .75s;
    transition-timing-function: linear;
}
.pub1 img:hover {
  border-radius: 70%;
}

.img-responsive{
        text-align: center;
        max-width: 100%;
        height: auto;
        margin: auto;
}

.sum1{
        float: none;
        margin: 0 auto;        
        justify-content: center;
        display: block;
}

.cyberd{
    padding-top: 20px;
    line-height: 1.5;
    font-size: 20px;
}

.pub2{
        float: none;
        margin: 0 auto;        
        background-position:center;
        align-items: center;
        justify-content: center;
        display: block;
}

.sum2{
        float: none;
        margin: 0 auto;        
        justify-content: center;
        display: block;
}